@charset "UTF-8";


/*Garnet Background*/
body {
  background-repeat: no-repeat;
  background-color: #5F2D38;
}

/*PlaceHolder text inside search bar*/
.searchBar{
  font-family: bebas-neue-by-fontfabric, sans-serif;
  align-content: center;
  text-align: center;
}
.tooltip {
  position: center;
  
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: 30px;
  visibility: hidden;
  width: auto;
  background-color: #EAE3D1;
  color: #5F2D38;
  text-align: left;
  border-style: solid;
  border-color: #5F2D38;
  
  /* Position the tooltip */
  position: absolute;
  
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*Header used in cards*/
h1 {
  background-size: cover;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#5F2D38;/*#EAE3D1;*/
  text-align: center;
}

/*Header used in top logo*/
h2 {
  background-size: cover;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #EAE3D1;
  text-align: center;
}

/*Header used elsewhere, has different margin settings than h2*/
h3 {
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #EAE3D1;
  text-align: center;
}

/*Sign Up/Sign In box Text*/
h4
{
  padding-top: 30px;
  background-size: cover;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#5F2D38;
  text-align: center;
  margin-top: 20px;
}

/*The text used above the search bar*/
.textAboveSearch
{
  background-size: cover;
  margin-top: 10px;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #EAE3D1;
  text-align: center;
  margin-bottom: 1px;
}

.editModal {
  
}
/*CreatorConnect logo on the pop up modals*/
.modalLogo
{
  background-size: cover;
  margin-top: 0vh;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5F2D38;
  text-align: center;
  padding: 0;
  margin: 0;
}

/*container for text inside modals*/
.modalText
{
  margin: 0vh;
  height: 490px;
}

/*Text inside of modals*/
.modalText p {
  padding: 0;
  margin: 0;
}


/*Button inside modal*/
.modalBtn button
{
  color: #EAE3D1;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: #5F2D38;
}

/*Input for search bar styling*/
#btnContainer {
  display: flex; /* or inline-flex */
  text-align: left;
  align-content: center;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  width: 37%; /* Full-width */
}

/*Button inside modal*/
.filterBtn button
{
  color: #5F2D38;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: #EAE3D1;
}

/*Button inside modal*/
.filterBtn button:hover
{
  color: #EAE3D1;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: #5F2D38;
}

/*Hover-over for button inside modal*/
.modalBtn button:hover
{
  color: #5F2D38;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: #EAE3D1;
}

/*Button click css for modal buttons*/
.modalBtn button:active
{
  color: #5F2D38;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: #EAE3D1;
}

.float {
  float: right;
  font-size: 10px;
}

/*Paragraph attribute used when listing skills*/
p {
  font-family: bebas-neue-by-fontfabric, sans-serif;
  color: #5F2D38;
  font-style: normal;
}

/*Input for search bar styling*/
#myInput {
  text-align: left;
  align-content: center;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  width: 37%; /* Full-width */
}

/*Cards*/
.card {
  border-radius: 0.694vw;
  box-shadow: 0 0.278vw 0.556vw 0 rgba(0, 0, 0, 0.2);
  width: 25%;
  height: 5%;
}

/*User Name... Derivative of h1 when implemented*/
.name {
  text-align: left;
  color: #5F2D38;
}

/*User email address*/
.email {
  line-height: 0px;
  padding: 0px;
  color: #5F2D38;
}

/*Skills section "header"*/
.skillsHead {
  color: #5F2D38;
}

/*Items in the skills area*/
.skillsArr{
  color: #5F2D38;
}

/*Unordered list reference*/
ul{
  list-style-type: none;
}

/*Gives round edges*/
.round {
}

/*Container for cards in order to use flexbox*/
.cards-container {
  width:100%;
  display: flex;
  flex-flow: wrap;
}

/*Defines "show" attribute for search bar functionality*/
.show {display: block;}

/*Input boxes for sign up page*/
.inputBox {
}

/*Input boxes for sign up page*/
.inputBox2 {
}

/*this is so  there is no extra space around the html or body components*/
html,body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin:0;
  padding:0;
}

/*width of inputs on form*/
input[type=checkbox] {
}

/*Custom Div setup for left side of launch page*/
.leftDiv
{
}

/*Used to center Innovation Hub logo found at the center of the left side of the launch page*/
.hubLogo
{
}

/*Custom Div setup for right side of launch page*/
.rightDiv
{
}

/*Flex component that aligns the divs from left to right*/
.bothDivs
{
  display: flex;
  align-items: flex-start;
}

/*Sign Up/Sign In Box
This contains info, set min height to allow growth
flex auto*/
.signUpOrIn
{
  background-color: #EAE3D1;
  flex: auto;
}

/*Sign Up/Sign In Box
This contains info, set min height to allow growth
flex auto*/
.signUpOrIn2
{
  background-color: #EAE3D1;
  flex: auto;
}

/*The CreatorConnect logo inside of the sign up/log in form*/
.launchText
{
  background-size: cover;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#5F2D38;/*#EAE3D1;*/
  text-align: center;
}

/*centers the form*/
.information
{
}

/*centers the dropdown menus*/
.dropdown
{
}

/*navigation bar at the top of the page*/
 .topnav {
  position: absolute;
  width: 100vw;
  top: 0;
  overflow: none;
  background-color: #d3d3d3;
  font-family: bebas-neue-by-fontfabric, sans-serif;
}

/*optimized for phone screens*/

/*optimized for phone screens*/




/*link component for navigation bar at the top of the page*/
.topnav a {
  color: #000000;
  text-align: center;
  padding-top: 0;
  text-decoration: none;
}

/*hover over component for link component of the navigation bar*/
.topnav a:hover {
  
  color: white;
  height: 100%;
}


/*active component for link component of the navigation bar*/
.topnav a.active {
 
}

/*button component of the navigation bar*/
.topnav button {
  margin-top: 0vh;
}

/*hover over component for button component of the navigation bar*/
.topnav button:hover {
  background-color: #5F2D38;
  color: white;
}

/*active component for button component of the navigation bar*/
.topnav button.active {
  
  color: white;
}

/*div component of navigation bar*/
.topNav div {
  margin-left: 10vw;
}

/*logout component of navigation bar*/
.logout {
  float: right;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #5F2D38;
}

/*wraps the form so the extra space at the top is not noticable*/
.formWrap{
  background-color: #EAE3D1;
}

/*determines size of team picture on the team tab*/
.teamPics {
  max-width:100%;
  max-height:100%;
}

/*container for the left component of the navigation bar*/
.leftNavBar {
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  color: #5F2D38;
}
